<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.roomwordssample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateGraveActivity"
            android:label="Create Grave"/>
        <activity android:name=".GraveDetailActivity"
            android:label="Grave Details "/>
        <activity android:name=".CemeteryDeatilActivity"
            android:label="Cemetery Details"/>
        <activity
            android:name=".CemeteryListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewCemeteryActivity" />
    </application>

</manifest>